@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,400;1,300&family=Ubuntu:ital,wght@0,300;1,300;1,400;1,500&display=swap');
#root {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}
.swiper-pagination-bullet-active {
    background-color: rgba(189, 9, 165, 0.952) !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;